:root{
  --colorPrimary: #fd9999;
  --colorSecundary: #a4e7ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 5px 5px;
  background-color: var(--colorPrimary);
}

section{
  margin: 10px 0;
}

.title{
  color: var(--colorSecundary);
  font-weight: bold;
  text-align: center;
  font-size: 2em;

}

input, .btn, select{
  background-color: var(--colorPrimary);
  cursor: pointer;
  margin-right: 5px;
  
}

fieldset{
  width: 18%;
  text-align: center;
  padding: 5px 5px 10px 5px;
  border-color: var(--colorSecundary);

}

#content-program{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#content-information{
  margin-top: 2px;
  width: 30%;
  border: 1px dashed black;
}
#content-calendar{
  width: 65%;
}

#info-calendar{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#ventana{
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  
  background-color: var(--colorPrimary);
}


#calendar, #calendario-solo {
 
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  border: 1px solid black;
  background-color:white;
}

#calendario-solo{
  width: 100%;
  height: 100%;
}

.firstColumn, .firstRow{
  text-align: center;
  background-color: var(--colorSecundary);
}

.firstRow{
  padding: 1px 10px 1px 10px;
 
}
.firstColumn{
  padding: 2px 0px;
}

.divCalendar{
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
}

.ingreso{
  display: none;
}
.btn{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  margin: 5px 0px;
}

.btn-salir , .btn-materia , .btn-horario{
  padding: 4px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
}
.btn-cerrar{
  font-size: x-small;
  position: absolute;
  top: -5px;
}

.btn-prueba{
  font-size: x-small;
  margin-left: 5px;
}
.datos div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn:hover{
  background-color: black;
  color: var(--colorSecundary);
}

.form-materia, .form-comision, .form-horario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid var(--colorSecundary);
  padding: 5px;

}

.nueva-materia{
  display: flex;
  gap: 20px ;
  align-items: center;
}

.ingreso{
  display: flex;
  justify-content: space-evenly;
  gap: 5px  ;
}

.datos{
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 5px;
}

.nombre{
  font-weight: 900;
  text-decoration: underline;
  font-size: 1em;

}
#error{
  height: max-content;
  width: 50%;
  margin: auto;
  padding: auto;
  background-color: var(--colorPrimary);
  
  font-weight: bold;
}

#error div{
  padding: 5px;
}

.btn-error{
  position: relative;
  right:-70%;
}




@media (max-width: 870px) {
  #content-program{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #content-information{
    margin-top: 2px;
    width: 100%;
    border: 1px dashed black;
  }
  #content-calendar{
    width: 100%;
  }
  .ingreso{
   display: flex;
   flex-direction: column;
   gap: 10px;
   
  }
}
